 <div class="container">
        <form class="create-form">
            <div class="form-group">
              <label for="Blog-title" class="text-white">Blog title: </label>
              <input class="form-control" id="post_name" placeholder="what is it about ? ">
            </div>
            <div class="form-group">
            <div class="form-group">
              <label for="content" class="text-white"> What's on your mind </label>
              <textarea class="form-control" id="post_content" placeholder="write it here !!" rows="3"></textarea>
            </div>
          </form>
          <div class="d-flex mt-4">
            <button type="submit" class="btn col-12 btn-success me-2"> Post it</button>
            </div>

          <script src="/js/createpost.js"></script>
    </div>