    <div class="container text-white pt-3">
        <div class="container">
            <form id="login-form">
                <div class="mb-3">
                    <h1> Login </h1>
                    <label for="exampleInputEmail1" class="form-label" required>Email address</label>
                    <input type="email" class="form-control" id="email-login" placeholder="Must be a valid email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"  required>Password</label>
                    <input type="password" class="form-control" placeholder="************" id="password-login">
                    <div id="emailHelp" class="form-text">Must be 8-20 characters long.</div>
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn col-6 btn-success me-2">Login</button>
                    <a href="/signup" class="btn col-6 btn-secondary me-2" id="signup">sign up</a>
                </div>
            </form>
        </div>
        <script>
            const loginFormHandler = async (event) => {
            event.preventDefault();

            const email = document.querySelector('#email-login').value.trim();
         const password = document.querySelector('#password-login').value.trim();

  if (email && password) {
    const response = await fetch(('/api/login'), {
      method: 'POST',
      body: JSON.stringify({ email, password }),
      headers: { 'Content-Type': 'application/json' },
    });

    if (response.ok) {
      document.location.replace('/');
    } else {
      alert('Failed to log in.');
    }
  }
};



document.querySelector('#login-form').addEventListener('submit', loginFormHandler);

        </script>
    </div>