<div class="container comment section">
  <div class="input-group input-group-lg mb-3">
    <input type="text" class="form-control" aria-label="Comment" placeholder="Comment here" aria-describedby="inputGroup-sizing-sm">
    <button type="button" class="btn col-3-sm btn-primary me-2">Add Comment</button>
  </div>
               
</div>
<div class="container">
  <div>
      <h1 class="text-white"> comments </h1>
  </div>{{> comment}}
                
</div>

