:root {
    --themeColor: rgba(40, 196, 144, 0.806);
}
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif, Arial;
    border-radius: 10px;
}

nav a {
    border: none;
    color: rgb(14, 10, 10);
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}

body {
    background-color: rgb(44, 13, 13);
}
