:root {
    --themeColor: rgba(24, 138, 100, 0.938);
}
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif, Arial;
    border-radius: 10px;
}

nav a {

    font-size: 15px;
    cursor: grab;
    padding: 5px;
    text-decoration: none;
}

header {
    background-color: var(--themeColor);
    padding: 20px;
    margin-top: 40px;
}
nav {
    margin-top: 15px;
    background-color: rgba(86, 84, 80, 0.373);
    margin-bottom: 30px;
    max-height: 50px;
}
#logout {
    background-color: transparent;
    box-shadow: none;
    border-radius: 10px;
    border-style: none;
}
