 <div class="container">
        <div class="d-grid gap-2">
            <button class="btn btn-success mb-4 p-3" type="button">Create Post</button>
        </div>
    </div>
    <div class="container mb-4">
        <div class="card border border-3" style="width: 100% ">
            <div class="card-body">
              <h5 class="card-title">Post name</h5>
              <h6 class="card-subtitle m-2 text-body-secondary"> Post By: User.iD</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Show Comment</a>
              <a href="#" class="card-link">Add Comment</a>
            </div>
        </div>
    </div>
    </div>