<div class="container">
    <form>
        <div class="mb-3">
            <h1> Login </h1>
            <label for="exampleInputEmail1" class="form-label" required>Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" required>Password</label>
            <input type="password" class="form-control" id="userPassword">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="d-flex">
            <button type="submit" class="btn col-6 btn-primary me-2">Login</button>
            <button type="button" class="btn col-6 btn-secondary">Sign Up</button>
        </div>
    </form>
</div>
